
<div ng-include="'components/navbar/navbar.html'"></div>

<img src="assets/images/puppies.jpg">

<hr>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">

            <form ng-submit="main.addData()">
                <input ng-model="main.textField" type="text" size="50" placeholder="add a new item to the list!">
                <input type="submit" value="submit" class="btn btn-primary">
                <span class="floatRight">Items in this list: {{main.itemsInList()}}</span>
            </form>

        </li>
        <li class="list-group-item" ng-repeat="test in main.data">{{test.text}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="main.removeData($index)"></span></li>
    </ul>
</div>
